<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr" dir="ltr">
<head>
    <title>Exemple</title>
</head>
<body>
<form action="{{ path('book_update', {'id': book.id}) }}" method="post" {{ form_enctype(form) }}>
    <h3>Book</h3>

    {{ form_row(form.first_name) }}
    {{ form_row(form.last_name) }}

    <ul class="books" data-prototype="{{ form_widget(form.books.vars.prototype)|e }}">
        {# iterate over each existing book and render its only field: name #}
        {% for book in form.books %}
            <li>{{ form_row(book) }}</li>
        {% endfor %}
    </ul>

    {{ form_row(form._token) }}

    <input type="submit" />
</form>


<script type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="application/javascript">
    var $collectionHolder;

    // setup an "add a book" link
    var $addBookLink = $('<a href="#" class="add_book_link">Add a book</a>');
    var $newLinkLi = $('<li></li>').append($addBookLink);

    jQuery(document).ready(function() {
// Get the ul that holds the collection of books
        $collectionHolder = $('ul.books');

// add the "add a book" anchor and li to the books ul
        $collectionHolder.append($newLinkLi);

// count the current form inputs we have (e.g. 2), use that as the new
// index when inserting a new item (e.g. 2)
        $collectionHolder.data('index', $collectionHolder.find(':input').length);

        $addBookLink.on('click', function(e) {
// prevent the link from creating a "#" on the URL
            e.preventDefault();

// add a new book form (see next code block)
            addBookForm($collectionHolder, $newLinkLi);
        });
    });

    function addBookForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = $collectionHolder.data('prototype');

        // get the new index
        var index = $collectionHolder.data('index');

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a book" link li
        var $newFormLi = $('<li></li>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>


</body>
</html>

